<div style="padding-top: 60px; padding-bottom: 40px; display: grid">
    <div style="width: 100%">
        <div style="width: 80%; height: 300px; background-color: #C4C4C4; border-radius: 75px; @checkFlip()">
            <div style="padding: 30px">
                <h1>@SectionName</h1>
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? SectionName { get; set; }

    [Parameter]
    public bool Flip { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string checkFlip()
    {
        return Flip ? "margin-left: auto; margin-right: 0" : "";
    }
}
