@using yume_ayasaki.Components
@page "/"

<PageTitle>Index</PageTitle>
<Self_card />

<div style="padding-left: 100px; padding-right: 100px; background-color: #A0D7FF">
    <Section SectionName="Music" >
        
    </Section>

    <Section SectionName="Game" Flip >
        
    </Section>

    <Section SectionName="Story" >
        
    </Section>

    <Section SectionName="Ultility" Flip >
        
    </Section>
</div>
