@using yume_ayasaki.Components
@page "/"

<PageTitle>Index</PageTitle>
<Self_card />

<div style="padding-left: 100px; padding-right: 100px; background-color: #A0D7FF">
    <Section SectionName="Music" >
        A
    </Section>

    <Section SectionName="Game" Flip >
        A
    </Section>

    <Section SectionName="Story" >
        A
    </Section>

    <Section SectionName="Ultility" Flip >
        A
    </Section>
</div>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />